.header img {
  margin-left: 20px;
  width: 50px;
}

.header h1 {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .header h1 {
    font-size: 20px;
  }
}
