.header {
  grid-area: header;
  height: 70px;
  display: flex;
  color: white;
  align-items: center;
  background-color: hsl(180, 29%, 50%);
}

.search {
  grid-area: search;
  width: 90%;
  margin: 0 auto;
}

.flight {
  grid-area: flight;
  width: 90%;
  margin: 0 auto;
}

.main {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "search flight flight"
    "search flight flight";
}

button {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bolder;
  border-style: none;
  text-transform: uppercase;
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 52%, 96%);
}

button:hover {
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
}

input,
select {
  width: 100%;
  margin: 5px 0;
}

@media only screen and (max-width: 900px) {
  .main {
    grid-template-areas:
      "header header header"
      "search search search"
      "flight flight flight";
  }
}
